html,body {
    margin: 0;
    color: #333;
}

b {
    color: #1d7eb1;
}

.box1_name {
/*    text-align: center;*/
    opacity: 0;
    font-weight: 100;
    font-size: 72px;
}

.box1 {
    position: relative;
    height: 950px;
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
}
.box1-bk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(1,1,1,1) 100%);

}

.box1-img {
    position: absolute;
    top: 0;
    left: 0;
}

.writer_inc {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 14px;
    opacity: 0;
}

.bo1-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box1-describe {
    position: relative;
    top: 150px;
    text-align: center;
}

.box1_github_bt {
    background-color: rgb(255, 255, 255);
    color: dimgray;
}

.box1_bt_st {
    display: inline-block;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
/*    line-height: 40px;*/
}

.box1_bt_name {
/*    display: inline-block;*/
    float: left;
    line-height: 40px;
}

.box1_bt_img {
    float: left;
    margin-right: 5px;
}

.box1_bt_tags {
    border-top: 1px solid dimgray;
    width: 10px;
    display: inline-block;
}

.box1_bt_tag {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    width: 25px;
    height: 40px;
}

.box1_bt_tag1 {
    position: absolute;
    top: 16px;
    left: 10px;
    transform: rotate(45deg);
}

.box1_bt_tag2 {
    position: absolute;
    top: 23px;
    left: 10px;
    transform: rotate(-45deg);
}

.box1_bt {
    opacity: 0;
}

.box2 {
    width: 1024px;
    margin: 40px auto;
}

.box2_describe {
    line-height: 25px;
}

.fun_color {
    color: #ac30a2;
}

.btag {
    text-decoration: underline;
    font-size: 50%;
}

.box2_foreword {
    font-size: 20px;
    padding: 20px 15px;
    line-height: 35px;
}

.box2_left {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 30px 15px;
}

.box2_right {
    box-sizing: border-box;
    float: right;
    width: 50%;
    padding: 30px 15px;
}

.box2_container {
    overflow: hidden;
    opacity: 0;
}

.editor_box {
    display: flex;
}

.editor_li {
    text-align: center;
    flex: 1;
    padding: 0 15px;
}

.editor_logo {
    opacity: 0;
    height: 120px;
}

.editor_name {
    line-height: 35px;
    font-size: 20px;
}

.editor_describe {
    text-align: left;
    line-height: 25px;
    text-indent: 2em;
    color: #555;
}

.editor_bk {
    color: #0086e3;
    text-decoration: none;
}

.editor_wb {
    color: #0ccbcb;
    text-decoration: none;
}

.editor_sbl {
    text-decoration: none;
    color: #e69a0a;
}

.editor_atom {
    text-decoration: none;
    color: #05b550;
}

.footer_box {
    margin-top: 60px;
    border-top: 1px solid #bababa;
}



.footer_container {
    overflow: hidden;
    padding: 10px 0;
    font-size: 13px;
    color: dimgray;
}
